<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YuksDemy</title>
  </head>

    <h2>Yukdemy</h2>
    <form method="get" class="d-flex flex-row">
      <input type="text" name="search" style="width: 150px" />
      <button class="mx-3">Search</button>
    </form>
    <a href="/user/add">Add Course</a>
    <br /><br />

    <table border="1">
      <thead>
        <th>courseName</th>
        <th>Description</th>
        <th>Video</th>
        <th>Image</th>
        <th>UserId</th>
      </thead>
      <tbody>
        <% result.forEach(el=>{ %>
        <tr>
          <td><%= el.courseName %></td>
          <td><%= el.description %></td>
          <td><%= el.videoUrl %></td>
          <td><%= el.imageUrl %></td>
          <td><%= el.UserId %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
